<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fgwoa.fgwmobile">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name="activity.SplashActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar.FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="activity.MainActivity"
            android:screenOrientation="landscape"
            android:label="@string/main_page"
            >
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN"/>-->
                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
            </activity>

        <activity android:name="activity.GwqpActivity"
            android:screenOrientation="landscape">
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->
                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>

        <activity android:name="activity.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateAlwaysHidden">
        </activity>

        <activity android:name="gwQuery.GwQueryActivity"></activity>
        <activity android:name="gwQuery.QueryListActivity"></activity>

        <activity
            android:name="activity.GwppActivity"
            android:label="@string/gongwenpibandan"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateAlwaysHidden"
            ></activity>

        <activity
            android:name="activity.SignActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateAlwaysHidden">
        </activity>

        <activity
            android:name="activity.PdfViewActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            >

        </activity>

        <activity android:name="activity.GGXXPdfViewActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            />

    </application>

</manifest>
